<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Best team</title>
</head>
<body>
    <h3>Best Team</h3>
<!--    <tbody th:each="team: ${teams}">-->
    <tbody th:object="${team}">
        <p>
            <span th:text="${'ID: ' + team.teamID}"></span>
            <span th:text="${'Team name: ' + team.name}"></span>
            <span th:text="${'Team country: ' + team.country}"></span>
            <span th:text="${'Team city: ' + team.city}"></span>
        </p>
    </tbody>
</body>
</html>