<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <p><a th:href="@{all}" >All Teams and Matches</a></p>
    <p><a th:href="@{best}" >Best team</a></p>
    <p><a th:href="@{fc}" >Teams which name contains "FC"</a></p>
    <p><a th:href="@{match}" >Match with most goals</a></p>
    <p><a th:href="@{more_than_one}" >Teams that played in more than one match</a></p>
    <p><a th:href="@{total_goals}" >Teams and their total goal count</a></p>
    <p><a th:href="@{last_week}" >Matches played last week</a></p>
</body>
</html>